html {
  box-sizing: border-box;
}
html {
  background-image: url("/images/BG.png");
  background-repeat: no-repeat;
  background-size: auto;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}
.main {
  flex-grow: 1;
}
footer {
  background-color: #171B2D;
  width: 100vw;
  padding: 56px 22px 36px 56px;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Montserrat", sans-serif;
  color: #fff;
}

.container {
  width: 1236.67px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-header {
  padding-top: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.85px;
}

.menu-list {
  display: flex;
  gap: 26px;
  justify-content: center;
  align-items: center;
}

.menu-link-btn {
  display: flex;
  width: 103px;
  height: 37px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(#05C0CC, #2C90F7);
}

.btn {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 4px;
  align-items: flex-end;
}

.entrance {
  font-size: 13px;
  font-weight: 500;
}

.little-man {
  width: 16px;
  height: 17px;
}

.container-main-top {
  display: grid;
  position: relative;
  grid-template-columns: 438.72px 756.17px;
  grid-template-rows: 336px;
  margin-top: 131px;
}
.flex-main-top {
  display: flex;
}
.list-main-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-main_inner {
  font-size: 15px;
  font-weight: 400;
  line-height: 25.1px;
}
.item-main-top_hidden {
  display: none;
}
.btn_main_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 50px;
  border-radius: 15px;
  background: linear-gradient(#05C0CC, #2C90F7);
}
.main-headline {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
}
.img-main-top {
  z-index: -1000;
  position: absolute;
  left: 310px;
  top: -170px;
}
.container_main_inner {
  width: 100%;
  padding: 0 8.7%;
}
.container-main-middle {
  position: relative;
  z-index: 10;
  margin-top: 122px;
  width: 100%;
  height: auto;
  background-image: url(/images/BG-main.png);
  background-repeat: no-repeat;
}
.element-headline-top {
  font-size: 40px;
  font-weight: 700;
  line-height: 66.92px;
}
.element-headline-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 26.77px;
  text-align: center;
}
.menu-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 11px;
  padding-top: 99px;
  padding-bottom: 83px;
}
.main-firstblock {
  display: flex;
}
.menu-firstblock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 115px;
}
.element-firstblock-top {
  font-size: 26px;
  font-weight: 600;
  line-height: 33.8px;
}
.element-firstblock-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
.line {
  height: 2px;
  width: 208px;
  background: linear-gradient(#2C90F7, #05C0CC)
}
.main-secondblock {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 76px;
}
.menu-secondblock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 85px;
}
.element-secondblock-top {
  font-size: 26px;
  font-weight: 600;
  line-height: 33.8px;
}
.element-secondblock-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
.top-thirdblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  row-gap: 19px;
}
.element-top-thirdblock {
  font-size: 26px;
  font-weight: 600;
  line-height: 33.62px;
}
.menu-thirdblock {
  display: grid;
  padding-top: 43px;
  grid-template-columns: 299px 55px 299px 55px 299px;
  grid-template-rows: 282.05px;
}
.arrow {
  margin: auto auto;
}
.element-thirdblock {
  background-image: url(/images/bg-small.svg);
}
.top-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}
.bottom-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}
.first-element-thirdblock_inner, 
.second-element-thridblock_inner,
.third-element-thirdblock_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 14px;
  margin: 34px 14px 0px;
}
.top-fouthblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 41.76px;
  row-gap: 19px;
}
.element-top-fouthblock {
  font-size: 26px;
  font-weight: 600;
  line-height: 33.62px;
}
.block-main-footer {
  display: flex;
  margin-bottom: 104px;
  column-gap: 54px;
}
.menu-main-footer {
  display: grid;
  gap: 50px;
  grid-template-columns: 316px 316px;
  grid-template-rows: 320px 320px;
}
.element-main-footer:nth-child(-n +4) {
  background-image: url(/images/Rectangle\ 53.svg);
  background-repeat: no-repeat;
}
.element-main-footer:last-child {
  display: flex;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: -3;
}
.btn_main_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 365px;
  height: 56px;
  border-radius: 15px;
  background: linear-gradient(#05C0CC, #2C90F7);
}
.headline-footer-padding {
  padding-top: 0px;
}
.item-main-footer-top {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}
.item-main-footer-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
.first-element-main-footer {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  text-align: center;
  align-items: center;
  margin: 28px 24px 27px 24px;
}
.second-element-main-footer {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  text-align: center;
  align-items: center;
  margin: 28px 24px 27px 24px;
}
.third-element-main-footer {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  text-align: center;
  align-items: center;
  margin: 28px 24px 27px 24px;
}
.fouth-element-main-footer {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  text-align: center;
  align-items: center;
  margin: 28px 24px 27px 24px;
}
.container__inner {
  /* margin-top: 75px;
  margin-bottom: 75px; */
}
.container-main-bottom {
  position: relative;
  z-index: 10;
  margin-top: 140px;
  margin-bottom: 120px;
  width: 100%;
  height: auto;
  background-image: url(/images/Rectangle.png);
  background-repeat: no-repeat;
}
.video-main-second-size, 
.video-main-first-size {
  padding-bottom: 80px;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.flex-left {
  display: flex;
  flex-direction: column;
  width: 250px;
  row-gap: 15.74px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: end;
  column-gap: 40px;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.85px;
}

.list-item:last-child {
  grid-column-start: -3;
  grid-column-end: -1;
  margin-top: 29px;
}

.list-item {
  white-space: nowrap;
}

.footer {
  /* width: 100vw;
  height: 211px;
  background-color: #171B2D; */
}
.hidden_p_768,
.pig768,
.grafic768,
.frame768,
.frame-second768,
.man-footer768,
.img-main-top768,
.text-underflex
{
display: none;
}
  
@media (max-width:1250px){
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .menu-item:not(:last-child) {
    visibility: hidden;
  }
  .menu-list{
    margin-left: 36px;
  }
  .burger-menu-link {
    content: url(/images/Menu\ 2.svg);
  }
  .main-headline {
    font-size: 27px;
    line-height: 100%;
  }
  .item-main_inner {
    font-size: 14px;
  }
  .item-main-top_hidden {
    display: block;
    font-size: 14px;
    line-height: 25.1px;
  }
  .container-main-top {
    grid-template-columns: 310px 420px;
    grid-template-rows: 290px;
    margin-top: 85px;
  }
  .list-item:last-child {
    display: none;
  }
  .container-main-middle {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(/images/bg768.png);
    margin-top: 52px;
  }
  .container-main-bottom {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(/images/bg2768.png);
    margin-top: 62px;
    margin-bottom: 0px;
  }
  .container_main_inner {
    padding-left: 24px;
    padding-right: 24px;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 117px;
    row-gap: 17px;
    justify-items: normal;
  }
  .element-headline-top {
    font-size: 32px;
  }
  .element-headline-bottom {
    font-size: 16px;
  }
  .menu-headline {
    padding-top: 60px;
    padding-bottom: 34px;
  }
  .menu-firstblock {
    margin-left: 23px;
    justify-content: space-between;
    row-gap: 30px;
  }
  .element-firstblock-top {
    font-size: 22px;
  }
  .main-secondblock {
    padding-top: 40px;
  }
  .menu-secondblock {
      margin-right: 24px;
      justify-content: space-between;
      row-gap: 30px;
    }
  .element-secondblock-top {
      font-size: 22px;
    }
    .top-thirdblock {
      padding-top: 60px;
    }
    .element-thirdblock {
      width: 201px;
      height: 282px;
      border-radius: 20px;
    }
    .menu-thirdblock {
      grid-template-columns: 201px 38px 201px 38px 201px;
    }
    .first-element-thirdblock_inner, 
    .second-element-thridblock_inner, 
    .third-element-thirdblock_inner {
      row-gap: 10px;
      margin: 12px 10px 0px;
    }
   .top-fouthblock {
    padding: 60px 0px 42px 0px; 
   } 
   .video-main-first-size,
   .video-main-second-size
   {
    width: 100%;
    padding-bottom: 20px;
   }
   .hidden_p_768,
   .pig768,
   .grafic768,
   .frame768,
   .frame-second768,
   .man-footer768,
   .img-main-top768,
   .text-underflex {
    display: block;
   }
   .frame, 
   .frame-second, 
   .grafic,
   .pig,
   .hidden_p_fin,
   .man-footer,
   .img-main-top
   {
    display: none;
   }
   .top-text {
    font-size: 15px;
   }
   .bottom-text {
    font-size: 13px;
   }
   .block-main-footer {
    flex-direction: column;
   }
   .img-main-top768 {
    position: absolute;
    left: 279px;
    top: -142px;
    z-index: -1000;
    overflow: hidden;
   }
   .man-footer768 {
    height: 470px;
   }
   .text-underflex {
    text-align: center;
    font-size: 13px;
    margin-top: 55px;
   }
}