html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

body {
  background-image: url(/images/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", "Montserrat", sans-serif;
  color: #fff;
}

.container {
  max-width: 1236.67px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-header {
  padding-top: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.85px;
}

.menu-list {
  display: flex;
  gap: 26px;
  justify-content: center;
  align-items: center;
}

.menu-link-btn {
  display: flex;
  width: 103px;
  height: 37px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(#05C0CC, #2C90F7);
  /* box-shadow: 0px 1px 2px 0px #EFE8E899,
  0px 0px 5px 0px, 0px -4px 12px 0px #00000038; */
}

.btn {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 4px;
  align-items: flex-end;
}

.entrance {
  font-size: 13px;
  font-weight: 500;
}

.little-man {
  width: 16px;
  height: 17px;
}

.container-main-top {
  display: grid;
  grid-template-columns: 438.72px;
  grid-template-rows: 336px;
  margin-top: 131px;
}
.flex-main-top {
  display: flex;
}
.list-main-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-main_inner {
  font-size: 15px;
  font-weight: 400;
  line-height: 25.1px;
}
.btn_main_top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 50px;
  border-radius: 15px;
  background: linear-gradient(#05C0CC, #2C90F7);
}
.main-headline {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
}
.img-main-top {
  z-index: 1;
  width: 985.05px;
  height: 830px;
  position: absolute;
  bottom: 5px;
  top: 30px;
  right: 260px;
}
.container_main_inner {
  width: 1007px;
  margin-left: auto;
  margin-right: auto;
}
.container-main-middle {
  position: relative;
  z-index: 10;
  margin-top: 122px;
  width: 1220px;
  height: 2250px;
  background-image: url(/images/BG-main.png);
}
.element-headline-top {
  font-size: 40px;
  font-weight: 700;
  line-height: 66.92px;
}
.element-headline-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 26.77px;
  text-align: center;
}
.menu-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 11px;
  padding-top: 99px;
  padding-bottom: 83px;
}
.main-firstblock {
  display: flex;
}
.menu-firstblock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 115px;
}
.element-firstblock-top {
  font-size: 26px;
  font-weight: 600;
  line-height: 33.8px;
}
.element-firstblock-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
.line {
  height: 2px;
  width: 208px;
  background: linear-gradient(#2C90F7, #05C0CC)
}
.main-secondblock {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 76px;
}
.menu-secondblock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 85px;
}
.element-secondblock-top {
  font-size: 26px;
  font-weight: 600;
  line-height: 33.8px;
}
.element-secondblock-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
.top-thirdblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  row-gap: 19px;
}
.element-top-thirdblock {
  font-size: 26px;
  font-weight: 600;
  line-height: 33.62px;
}
.menu-thirdblock {
  display: grid;
  padding-top: 43px;
  grid-template-columns: 299px 55px 299px 55px 299px;
  grid-template-rows: 282.05px;
}
.arrow {
  margin: auto auto;
}
.element-thirdblock {
  background-image: url(/images/bg-small.svg);
}
.top-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
}
.bottom-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}
.first-element-thirdblock_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 14px;
  margin-top: 34px;
  margin-bottom: 54px;
  margin-left: 70px;
  margin-right: 70px;
}
.second-element-thridblock_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 14px;
  margin-top: 34px;
  margin-bottom: 54px;
  margin-left: 40px;
  margin-right: 40px;
}
.third-element-thirdblock_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 14px;
  margin-top: 34px;
  margin-bottom: 54px;
  margin-left: 30px;
  margin-right: 30px;
}
.top-fouthblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 41.76px;
  row-gap: 19px;
}
.element-top-fouthblock {
  font-size: 26px;
  font-weight: 600;
  line-height: 33.62px;
}
.block-main-footer {
  display: flex;
  margin-bottom: 104px;
  column-gap: 54px;
}
.menu-main-footer {
  display: grid;
  gap: 50px;
  grid-template-columns: 316px 316px;
  grid-template-rows: 320px 320px;
}
.element-main-footer:nth-child(-n +4) {
  background-image: url(/images/Rectangle\ 53.svg);
  background-repeat: no-repeat;
}
.element-main-footer:last-child {
  display: flex;
  justify-content: center;
  grid-column-start: 3;
  grid-column-end: -3;
}
.btn_main_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 365px;
  height: 56px;
  border-radius: 15px;
  background: linear-gradient(#05C0CC, #2C90F7);
}
.headline-footer-padding {
  padding-top: 0px;
}
.item-main-footer-top {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}
.item-main-footer-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}
.first-element-main-footer {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  text-align: center;
  align-items: center;
  margin: 28px 24px 27px 24px;
}
.second-element-main-footer {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  text-align: center;
  align-items: center;
  margin: 28px 24px 27px 24px;
}
.third-element-main-footer {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  text-align: center;
  align-items: center;
  margin: 28px 24px 27px 24px;
}
.fouth-element-main-footer {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  text-align: center;
  align-items: center;
  margin: 28px 24px 27px 24px;
}
.container__inner {
  margin-top: 75px;
  margin-bottom: 75px;
}
.container-main-bottom {
  position: relative;
  z-index: 10;
  margin-top: 140px;
  margin-bottom: 120px;
  width: 1220px;
  height: 2295px;
  background-image: url(/images/Rectangle.png);
}
.flex {
  display: flex;
  justify-content: space-between;
}

.flex-left {
  display: flex;
  flex-direction: column;
  row-gap: 15.74px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: end;
  column-gap: 40px;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.85px;
}

.list-item:last-child {
  grid-column-start: -3;
  grid-column-end: -1;
  margin-top: 29px;
}

.list-item {
  white-space: nowrap;
}

.footer {
  width: 100vw;
  height: 211px;
  background-color: #171B2D;
}